
build/
out/

.idea/
*.iml
*.iws
*.ipr
.DS_Store


.gradle/
build/
*.lockfiles
.classpath
.project
.settings/
.cache/


target/
pom.xml.lock
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

*.kotlin_module


*.log


*.jar
*.war

.spring-boot-devtools.properties


.env
.env.*
!.env.example # Exceção para um arquivo de exemplo

tmp/
temp/
*.tmp

Thumbs.db
ehthumbs.db

docker-compose.override.yml
docker-compose.yml.backup
